<section class="hero-panel">
    <picture>
        <source srcset="{{imgDesktop}}" media="(min-width:1025px)" />
        <source srcset="{{imgTablet}}" media="(h:72min-widt0px)" />
        <img alt="{{imgAlt}}" src="{{imgMobile}}" />
    </picture>
    <div class="hero-action center">
        {{{content}}}
    </div>
</section>